<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Itens</title>
	<!-- Bootstrap CSS local -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
	<div class="container mt-4">
		<!-- Alerta quando não há informações -->
		<div class="alert alert-secondary" role="alert" th:if="${dono.empty}">
			<p class="fw-bold">Nenhuma informação encontrada</p>
		</div>

		<!-- Tabela exibida quando há informações -->
		<div th:unless="${#lists.isEmpty(dono)}">
			<h5>Lista de Itens</h5>
			<table class="table table-striped" style="width:100%">
				<thead>
					<tr>

						<th>ID</th>
						<th>dono</th>
						<th>Última Atualização</th>
						<th>Alterar</th> <!--nova coluna para o botão-->
						<th>Excluir</th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="l : ${dono}">

						<td th:text="${l.idDono}"></td>
						<td th:text="${l.nome}"></td>
						<td th:text="${l.data}"></td>
						<td>
							<a th:href="@{'/editar/' + ${l.idDono}}"
								class="btn btn-primary btn-sm">Alterar</a>
						</td>

						<td>
							<a th:href="@{'/excluir/' + ${l.idDono}}"
								class="btn btn-danger btn-sm"
								onclick="return confirm('Tem certeza que deseja excluir?');">
								Excluir </a>
						</td>


					</tr>




				</tbody>
			</table>
		</div>
	</div>

	<!-- Bootstrap JS local (opcional, necessário apenas se você utilizar componentes que dependem de JavaScript) -->
	<script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>
